server:
  port: 8805

spring:
    datasource:
        name: test
        url: jdbc:mysql://192.168.200.25:3306/royyun_gs
        username: root
        password: Admin_123
        driver-class-name: com.mysql.jdbc.Driver
mybatis:
  mapper-locations: classpath:mapping/*Mapper.xml
  type-aliases-package: com.cloud.user.pojo

pagehelper:
  helper-dialect: mysql
  reasonable: true
  support-methods-arguments: true
  params: count=countSql
eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8801/eureka/
#热部署生效
#spring.devtools.restart.enabled: true
#设置重启的目录
#spring.devtools.restart.additional-paths: src/main/java
